@model System.Collections.Generic.List<WebApp.DTO_s.UserPasswordDTO>

@{
    Layout = "_Layout";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    h2 {
        color: #333;
    }
</style>

<h2>User Passwords</h2>
<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Caesar Password</th>
        <th>Vigenere Password</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var userPassword in Model)
    {
        <tr>
            <td>@userPassword.Username</td>
            <td>@userPassword.CaesarPassword</td>
            <td>@userPassword.VigenerePassword</td>
        </tr>
    }
    </tbody>
</table>